# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Build outputs
dist/
dist-ssr/

# Node modules
node_modules/

# Coverage
coverage/

# Editor directories and files
.vscode/
!.vscode/extensions.json
!.vscode/tasks.json
!.vscode/settings.template.json
!.vscode/launch.template.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Miscellaneous
*.local
*.config
.internal/
**/.DS_Store
.settings
**/.vs
.eslintcache
*v8.log
